$electric-blue: #0090db;
$main-font-family: 'aktiv-grotesk-std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$main-font-weight: 300;
$main-font-color: #ffffff;
$main-link-color: $electric-blue;
$main-font-size: 18px;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body.overlay-on {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}

body, html {
	height: 100%;
	padding:0;
	margin:0;
}

body {
	margin:0;
	padding:0;
	font-family: $main-font-family;
	font-weight: $main-font-weight;
	font-size: $main-font-size;
	line-height: 1.3;
	color: $main-font-color;
}

.html-mobile-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%; /* To compensate for mobile browser address bar space */
    background: url(images/forest-large.jpg) center center no-repeat #000000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



h1 {
	font-size: 72px;
	line-height: .8;
	color: $electric-blue;
	font-weight: 100;
	margin-bottom: 1em;
	margin-top:0;
	letter-spacing: -.04em;
}

h2 {
	font-size: 48px;
	text-align: center;
	font-weight: 100;
	margin-bottom: .9em;
	margin-top:0;
	line-height: .9;
	letter-spacing: -.04em;
}

h3 {
	font-size: 24px;
	font-weight: 600;
	color: inherit;
	margin-bottom: .5em;
	margin-top: 1.5em;
}

h4 {
	font-size: $main-font-size;
	font-weight: 600;
	color:inherit;
	margin-bottom: .5em;
}

p {
	margin-bottom: 1.2em;
	margin-top: 0;
}

ul {
	margin:0;
}

li {
	margin:0;
}

a {
	color: $main-link-color;
	text-decoration: none;
	&:hover{
		text-decoration:underline;
	}
}

.wpmem_msg {
		color: red;
	}
form {
	::-webkit-input-placeholder {
  	  color: transparentize($main-font-color, .5);
	}
	text-align: left;
}
input, select {
	font-family: $main-font-family;
	font-size: $main-font-size;
	font-weight: $main-font-weight;
	color: $main-font-color;
	border: solid 1px transparentize($main-font-color,.3);
	border-radius: 0;
	background: none;
	padding: 4px;
	margin-bottom: 5px;
	&:focus{
		border: solid 1px $electric-blue;
		color: $electric-blue;
		outline: none;
	}
}
select {
	-webkit-appearance: none;
	padding-right: 25px;
	position: relative;
	left:-3%;
	background: url(images/login-arrow.png) no-repeat 97% center;
	&:focus{
		border: solid 1px $electric-blue;
		color: $electric-blue;
		outline: none;
	}
}
.button {
	margin-top: 6px;
	cursor: pointer;
}
legend {
	display: none;
}
fieldset {
	width: 85%;
	margin:auto;
}

.div_text, label {
	height: 32px;
	display:block;
	line-height: 32px;
	vertical-align: middle;
	margin-right: 2%;
	margin-bottom:10px;
	p {
		margin-bottom:0;
	}

}
label { 
	float:left;
	width:26%;
	font-size:14px;
	text-align: right;
}
.div_text, .div_select {
	float:right;
	width: 70%;
	margin-bottom:10px;	
	input {
		width: 100%;
	}
}
.button_div {
	margin-top: 24px;
	text-align: center;
	float:left;
	width: 100%;
	input {
		width: 50%;
		@extend .button;
	}
}
.req-text {
	font-size: 12px;
	color: transparentize($main-font-color,.5);
	display:none;
}


input[type="reset"]{
	display:none;
}

input.username {
	width: 70%;
}
input#first_name, input#last_name {
	width: 50%;
}

#nav-bar {
	width:100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	font-size: 14px;
	height: 54px;
	top:0;
	z-index: 997;
}

.admin-bar #nav-bar {
	top: 32px;
}

.nav-button {
	padding: 0 20px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: transparentize($main-font-color,.4);
	font-weight: bold;
	&:hover {
		text-decoration: none;
		color: $main-font-color;
		background-color: transparentize($electric-blue,.1);
	}
}
.nav-list-item {
	border-left: solid 1px transparentize($main-font-color, .85);
	height: 100%;
	float: left;
	display:table;
	border-bottom: solid 0px transparentize($electric-blue, 1);
	-webkit-transition: border-bottom .3s ease-in-out;
	-moz-transition: border-bottom .3s ease-in-out;
	-ms-transition: border-bottom .3s ease-in-out;
	&:last-child {
		border-right: solid 1px transparentize($main-font-color, .85);
	}
	&.selected {
		border-bottom: solid 4px $electric-blue;
		font-weight: bold;
		a {
			color: $electric-blue;
			&:hover {
				color: $main-font-color;
			}
		}
	}
	a {
		@extend .nav-button;
	}
}

ul.nav{
	height: 100%;
	margin: auto;
	width: 546px;
	position: relative;
	left: 20px;
	li {
		@extend .nav-list-item
	}
}

#menu-weekends-nav {
	position: absolute;
	top: 20px;
	right: 20px;
}

.menu-members-nav-container {
	width:20%;
	background: transparentize($electric-blue,.1);
	position: fixed;
	top: 0px;
	padding-top: 74px;
	height: 100%;
	z-index: 996;
	ul {
		height: 40px;
		margin: auto;
		width: 100%;
		position: relative;
		li {
			a {
				color:transparentize($main-font-color,.2);
				font-size: 18px;
				font-weight: 200;
				&:hover{
					text-decoration:none;
				}
			}
			border-bottom: solid 1px transparentize($main-font-color, .85);
			width: 100%;
			@extend .nav-list-item;
			&.current-menu-item {
				a {
					color:$main-font-color;
					font-weight: 400;
					background-color: transparentize(#000,.8);
				}
			}
		}
	}
}

.admin-bar .menu-members-nav-container {
	padding-top:106px;
}

ul.login-nav {
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	li {
		@extend .nav-list-item;
		&:last-child {
			border-right: none;
		}
		&.selected {
			a {
				color: inherit;
				background-color: transparentize($electric-blue, .1);
			}
			border-bottom: none;
			font-weight: inherit;
		}
		a {
			padding-left: 25px;
			background: url(images/login-arrow.png) no-repeat 15px center;
		}
		ul {
			position: absolute;
			top: 54px;
			right: 0;
			display:none;
			width: 100%;
			background-color: transparentize(#000,.2);
			li {
				border-right: none;
				width: 100%;
				@extend .nav-list-item;
				height: 54px;
				float:none;
				display: block;
				a {
					display:block;
					background: none;
					height: 100%;
					line-height: 54px;
					vertical-align: middle;
				}

			}
		}
		&:hover ul{
			display:block;
		}
	}
}
.big-nav {
	li {
		@extend .nav-list-item;
		border:none;
		float:none;
		width: 100%;
		display: block;
		a {
			display: block;
			width: 100%;
			text-align: center;
			font-size: 32px;
			padding: 6px;
			font-weight: 100;
			color: $main-font-color;
			&:hover {
				background:inherit;
				color: transparentize($main-font-color,.2);
				text-decoration: none;
			}

		}
	}
}

#logo {
	width: 146px;
	height: 23px;
	position: absolute;
	left: 15px;
	top: 15px;
	a {
		text-indent: -9999px;
		top: 15px;
		display: block;
		width: 100%;
		height: 100%;
		background: url(images/tres-dias-logo.png) no-repeat;
		background-size: 100% 100%;
	}
}

.page-container-outer{
	display: table;
	width: 100%;
	height: 100%;
	padding: 5%;
	position: relative;
	top: 54px;
}

.page-container-inner {
	display: table-cell;
	vertical-align: middle;
}

.page-content {
	margin: auto;
	max-width:620px;
	padding-top:5%;
}

#page-home {
}

#page-about {
	background: transparentize($electric-blue,.1);
}

#page-calendar {
	background: transparentize(#000000,.2);
}

#page-statement-of-faith {
	background: transparentize(#333333,.1);
}



.event {
	text-align: center;
	margin-bottom: 1.5em;
	h3, p {
		margin-bottom: 0;
	}
	.event-name {}
}

.about-nav {
	margin:0 0 30px 0;
	padding:0;
	li {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style-type: none;
		a {
			color: transparentize($main-font-color, .3);
			display: block;
			padding: 8px;
			&:hover {
				color: transparentize($main-font-color, .6);
			}
		}
	}
}

.button {
	font-size: 14px;
	border: solid 1px $electric-blue;
	padding: 6px 12px;
	text-decoration: none;
	text-transform: uppercase;
	color: $electric-blue;
	text-align: center;
	&:hover {
		border-color: $electric-blue;
		background: $electric-blue;
		color: $main-font-color;
		text-decoration: none;
	}
}

#page-about {
	.button {
		color:$main-font-color;
		border:solid 1px $main-font-color;
	}
}

.logged-in {
	&.page-template-page-members-php, &.page-template-page-weekends-php, &.blog {
		.page-container-outer {
			margin-left:20%;
			width: 80%;
			.page-container-inner {
				vertical-align: top;
				.content-container {
					width: 100%;
				}	
			}
			
		}
	}
}

.content-container {
	position: relative;
	margin: auto;
	
	width:70%;
	background: transparentize(#000000, .14);
	padding: 5%;
	h1 {
		text-align: center;	
	}
	&.weekends {
		h1 {
			margin-top: .5em;
		}
	}
	&.welcome {
		h1 {
			margin-bottom: .5em;
		}
		text-align: center;
	}
	&.blog {
		margin-bottom: 2%;
		h2 {
			margin-bottom: .2em;
		}
		.meta {
			font-size: 14px;
			margin-bottom: 2.5em;
			text-align: center;
			color: transparentize($main-font-color,.4);
		}
		.postmetadata {
			font-size: 14px;
			color: transparentize($main-font-color,.4);
		}
		#comments, #respond {
			margin: 28px 0;
			padding: 28px 0;
			border-top: 1px solid transparentize($main-font-color,.7);
		}
	}
}

.menu-btn {
	display:none;
}

.admin-bar .overlay {
	top: 32px;
}

.overlay {
	-webkit-transform-origin: middle center;
	-moz-transform-origin: middle center;
	-ms-transform-origin: middle center;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out;
	-ms-transition: -ms-transform .3s ease-in-out;
	background-color: transparentize($electric-blue, .05);
	z-index: 999;
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	overflow: auto;
	&.hiding {
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
	}
	&.hidden {
		visibility: hidden;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
	}
	&.displayed {
		visibility: visible;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
	}
	.overlay-content-container {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		.close {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			background: none;
			font-weight: 100;
			font-family: inherit;
			width: 50px;
			height: 50px;
			font-size: 50px;
			line-height: 40px;
			display: inline-block;
			position: absolute;
			padding-bottom: 9px;
			top: 20px;
			right: 20px;
			text-align: center;
			vertical-align: middle;
			color: transparentize($main-font-color,.3);
			border-radius: 50%;
			border: solid 1px transparentize($electric-blue,.3);
			&:hover, &:focus{
				color: $main-font-color;				
			}
		}
	}
}

#login-overlay {
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	.overlay-content-container {
		.form-container {
			padding: 5%;
			width: 33%;
			margin: auto;
			label {
				float: none;
				padding: 4px 0;
				color: transparentize($main-font-color, .5)
			}
			input, .button {
				width: 100%;
				&:focus{
					border-color: $main-font-color;
					color: $main-font-color;
				}
			}
			.button {
				&:hover{
					background-color: $main-font-color;
					color:$electric-blue;
				}
			}
		}
	}
}



// Media Queries
//less than 480px
@media all and (max-width: 480px){
	.big-nav {
		li {
			a {
				font-size: 24px;
			}
		}
	}

	.admin-bar .page-container-outer {
		top: 54px;
	}

	.logged-in {
		&.page-template-page-members-php, &.page-template-page-weekends-php, &.blog {
			.page-container-outer {
				margin: auto;
				width: 100%;
			}
		}
	}

	#login-overlay {
		.overlay-content-container {
			.form-container {
				width: 90%;
			}
		}
	}
	.content-container, .page-template-page-members-php .content-container, .page-template-page-weekends-php .content-container,  .blog .content-container, .single .content-container {
		margin-left: 0;
		width:100%;
		padding: 8%;
		h1 {
			font-size: 48px
		}
	}

	fieldset {
		width:100%;
	}
	label {
		float:none;
	}
	.div_text, .div_select {
		float:none;
		width: 100%;
	}
	input#first_name, input#last_name {
		width: 100%;
	}
	label {
		width: 100%;
		text-align: left;
		font-size: 12px;
		color: transparentize($main-font-color,.4);
		height: auto;
		line-height: 1.2;
		margin-bottom: 2px;
	}
	select {
		left: 0;
	}
}

//less than 936px, greater than 480px
@media all and (max-width: 936px) and (min-width: 481px){
	#login-overlay {
		.overlay-content-container {
			.form-container {
				width: 50%;
			}
		}
	}
	.content-container, .page-template-page-members-php .content-container, .page-template-page-weekends-php .content-container, .blog .content-container, .single .content-container {
		width:100%;
	}
	
	.logged-in {
		&.page-template-page-members-php, &.page-template-page-weekends-php, &.blog {
			.page-container-outer {
				margin: auto;
				width: 95%;
			}
		}
	}

	.page-container-inner {
	}
}
//less than 936px
@media all and (max-width: 936px){
	#logo {
		left: 60px;
	}


	.menu-members-nav-container {
		display:none;
	}

	.logged-in {
		&.page-template-page-members-php, &.page-template-page-weekends-php, &.blog {
			.page-container-outer {
				margin: auto;
			}
		}
	}

	.page-template-page-members-php .content-container, .page-template-page-weekends-php .content-container {
		margin:auto;
		
	}

	.mobile-menu {
		z-index:998;
		display:block;
		position: absolute;
		left:10px;
		top:10px;
/*		border: solid 1px transparentize($main-font-color, .5);
*/		padding: 5px 6px 5px 4px;
		color: transparentize($main-font-color, .5);
		i {
			text-align: center;
		}
		font-size: 18px;
	}

	#nav-bar {
		position: fixed;
		z-index: 997;
	}

	ul.nav {
		display: none;
	}
}

//less than 782px
@media all and (max-width: 782px){
	html #wpadminbar {
		position:fixed !important;
	}
	.admin-bar {
		#nav-bar {
			top: 46px;
		}
		.overlay {
			top: 46px;
		}
		.menu-members-nav-container {
			top: 100px;
		}
	}

}

//less than 1025px
@media all and (max-width: 1024px){
	.html-mobile-background {
		background-image: url(images/forest-med.jpg);
	}
}

//greater than 937px
@media all and (min-width: 937px){
	.mobile-menu {
		display:none;
	}
}
