* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body.overlay-on {
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

body, html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  color: white; }

.html-mobile-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  /* To compensate for mobile browser address bar space */
  background: url(images/forest-large.jpg) center center no-repeat black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1 {
  font-size: 72px;
  line-height: .8;
  color: #0090db;
  font-weight: 100;
  margin-bottom: 1em;
  margin-top: 0; }

h2 {
  font-size: 48px;
  text-align: center;
  font-weight: 100;
  margin-bottom: .9em;
  margin-top: 0;
  line-height: 0.9; }

h3 {
  font-size: 24px;
  font-weight: 600;
  color: inherit;
  margin-bottom: .5em; }

h4 {
  font-size: 18px;
  font-weight: 600;
  color: inherit;
  margin-bottom: .5em; }

p {
  margin-bottom: 1.2em;
  margin-top: 0; }

ul {
  margin: 0; }

li {
  margin: 0; }

a {
  color: #0090db;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.wpmem_msg {
  color: red; }

form {
  text-align: left; }
  form ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  form input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    border: solid 1px #dcdcdc;
    background: none;
    padding: 4px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300; }
    form input:focus {
      border: solid 1px #0090db;
      color: #0090db;
      outline: none; }
  form .button, form .button_div input {
    margin-top: 6px;
    cursor: pointer; }
  form legend {
    text-align: center;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.5); }
  form label {
    float: left;
    width: 30%;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px; }
  form .div_text, form .div_select {
    float: right;
    width: 70%;
    margin-bottom: 10px; }
    form .div_text input, form .div_select input {
      width: 100%; }
  form .button_div {
    margin-top: 24px;
    float: left;
    width: 100%; }
    form .button_div input {
      width: 50%; }
  form .req-text {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: none; }
  form select {
    -webkit-appearance: none;
    background: none;
    border: solid 1px white;
    border-radius: 0;
    font-size: 18px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 4px;
    margin: 0;
    padding-right: 25px;
    background: url(images/login-arrow.png) no-repeat 97% center; }
    form select:focus {
      border: solid 1px #0090db;
      color: #0090db;
      outline: none; }
  form input[type="reset"] {
    display: none; }
  form input.username {
    width: 70%; }
  form input#first_name, form input#last_name {
    width: 50%; }

#nav-bar {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  font-size: 14px;
  height: 54px; }

.nav-button, .nav-list-item a, ul.nav li a, .menu-members-nav-container ul li a, ul.login-nav li a, ul.big-nav li a {
  padding: 0 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold; }
  .nav-button:hover, .nav-list-item a:hover, ul.nav li a:hover, .menu-members-nav-container ul li a:hover, ul.login-nav li a:hover, ul.big-nav li a:hover {
    color: white;
    background-color: rgba(0, 144, 219, 0.9); }

.nav-list-item, ul.nav li, .menu-members-nav-container ul li, ul.login-nav li, ul.big-nav li {
  border-left: solid 1px rgba(255, 255, 255, 0.15);
  height: 100%;
  float: left;
  display: table;
  border-bottom: solid 0px rgba(0, 144, 219, 0);
  -webkit-transition: border-bottom .3s ease-in-out;
  -moz-transition: border-bottom .3s ease-in-out;
  -ms-transition: border-bottom .3s ease-in-out; }
  .nav-list-item:last-child, ul.nav li:last-child, .menu-members-nav-container ul li:last-child, ul.login-nav li:last-child, ul.big-nav li:last-child {
    border-right: solid 1px rgba(255, 255, 255, 0.15); }
  .nav-list-item.selected, ul.nav li.selected, .menu-members-nav-container ul li.selected, ul.login-nav li.selected, ul.big-nav li.selected {
    border-bottom: solid 4px #0090db;
    font-weight: bold; }
    .nav-list-item.selected a, ul.nav li.selected a, .menu-members-nav-container ul li.selected a, ul.login-nav li.selected a, ul.big-nav li.selected a {
      color: #0090db; }
      .nav-list-item.selected a:hover, ul.nav li.selected a:hover, .menu-members-nav-container ul li.selected a:hover, ul.login-nav li.selected a:hover, ul.big-nav li.selected a:hover {
        color: white; }

ul.nav {
  height: 100%;
  margin: auto;
  width: 536px;
  position: relative;
  left: 20px; }

.menu-members-nav-container {
  width: 100%;
  background: #0090db;
  position: fixed;
  top: 54px;
  font-size: 12px;
  font-weight: 300;
  height: 28px; }
  .menu-members-nav-container ul {
    height: 100%;
    margin: auto;
    width: 100%;
    position: relative;
    left: 20px; }

ul.login-nav {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px; }
  ul.login-nav li {
    float: none; }
    ul.login-nav li:last-child {
      border-right: none; }
    ul.login-nav li.selected {
      border-bottom: none;
      font-weight: inherit; }
      ul.login-nav li.selected a {
        color: inherit;
        background-color: rgba(0, 144, 219, 0.9); }
    ul.login-nav li a {
      padding-left: 25px;
      background: url(images/login-arrow.png) no-repeat 15px center; }

ul.big-nav li {
  border: none;
  float: none;
  width: 100%;
  display: block; }
  ul.big-nav li a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 6px;
    font-weight: 100;
    color: white; }
    ul.big-nav li a:hover {
      background: inherit;
      color: rgba(255, 255, 255, 0.8); }

#logo {
  width: 169px;
  height: 26px;
  position: absolute;
  left: 15px;
  top: 15px; }
  #logo a {
    text-indent: -9999px;
    top: 15px;
    display: block;
    width: 100%;
    height: 100%;
    background: url(images/tres-dias-logo.png) no-repeat; }

.page-container-outer {
  display: table;
  width: 100%;
  height: 100%; }

.page-container-inner {
  display: table-cell;
  padding: 10% 0;
  vertical-align: middle; }

.page-content {
  margin: auto;
  max-width: 620px; }

#page-about {
  background: rgba(0, 144, 219, 0.9); }

#page-calendar {
  background: rgba(0, 0, 0, 0.8); }

#page-statement-of-faith {
  background: rgba(51, 51, 51, 0.9); }

.event {
  text-align: center;
  margin-bottom: 1.5em; }
  .event h3, .event p {
    margin-bottom: 0; }

.about-nav {
  margin: 0 0 30px 0;
  padding: 0; }
  .about-nav li {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none; }
    .about-nav li a {
      color: rgba(255, 255, 255, 0.7);
      display: block;
      padding: 8px; }
      .about-nav li a:hover {
        color: rgba(255, 255, 255, 0.4); }

.button, form .button_div input {
  font-size: 14px;
  border: solid 1px #0090db;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #0090db;
  text-align: center; }
  .button:hover, form .button_div input:hover {
    border-color: #0090db;
    background: #0090db;
    color: white;
    text-decoration: none; }

.content-container {
  margin: auto;
  width: 50%;
  background: rgba(0, 0, 0, 0.86);
  padding: 5%; }
  .content-container h1 {
    text-align: center; }
  .content-container.profile ul {
    list-style-type: none; }

.menu-btn {
  display: none; }

.admin-bar .overlay {
  top: 32px; }

.overlay {
  -webkit-transform-origin: middle center;
  -moz-transform-origin: middle center;
  -ms-transform-origin: middle center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  background-color: rgba(0, 144, 219, 0.95);
  z-index: 999;
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0; }
  .overlay.hiding {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0); }
  .overlay.hidden {
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0); }
  .overlay.displayed {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1); }
  .overlay .overlay-content-container {
    display: table-cell;
    vertical-align: middle;
    position: relative; }
    .overlay .overlay-content-container .close {
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -webkit-transition: -webkit-transform .1s ease-in-out;
      -moz-transition: -moz-transform .1s ease-in-out;
      -ms-transition: -ms-transform .1s ease-in-out;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      background: none;
      font-weight: 100;
      font-family: inherit;
      width: 50px;
      height: 50px;
      font-size: 50px;
      line-height: 40px;
      display: inline-block;
      position: absolute;
      padding-bottom: 9px;
      top: 20px;
      right: 20px;
      text-align: center;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.7);
      border-radius: 50%;
      border: solid 1px rgba(0, 144, 219, 0.7); }
      .overlay .overlay-content-container .close:hover, .overlay .overlay-content-container .close:focus {
        color: white;
        border-radius: 50%;
        border: solid 1px rgba(255, 255, 255, 0.7);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg); }

#login-overlay {
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right; }
  #login-overlay .overlay-content-container .form-container {
    padding: 5%;
    width: 33%;
    margin: auto; }
    #login-overlay .overlay-content-container .form-container label {
      float: none;
      padding: 4px 0;
      color: rgba(255, 255, 255, 0.5); }
    #login-overlay .overlay-content-container .form-container input, #login-overlay .overlay-content-container .form-container .button, #login-overlay .overlay-content-container .form-container form .button_div input, form .button_div #login-overlay .overlay-content-container .form-container input {
      width: 100%; }
      #login-overlay .overlay-content-container .form-container input:focus, #login-overlay .overlay-content-container .form-container .button:focus, #login-overlay .overlay-content-container .form-container form .button_div input:focus, form .button_div #login-overlay .overlay-content-container .form-container input:focus {
        border-color: white;
        color: white; }
    #login-overlay .overlay-content-container .form-container .button:hover, #login-overlay .overlay-content-container .form-container form .button_div input:hover, form .button_div #login-overlay .overlay-content-container .form-container input:hover {
      background-color: white;
      color: #0090db; }

@media all and (max-width: 480px) {
  .page-container-outer {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20%;
    padding-bottom: 20%; }

  .login-overlay .overlay-content-container .form-container {
    width: 90%; }

  .content-container {
    width: 100%;
    padding: 8%; }
    .content-container h1 {
      font-size: 48px; } }
@media all and (max-width: 768px) and (min-width: 481px) {
  #login-overlay .overlay-content-container .form-container {
    width: 50%; }

  .content-container {
    width: 80%; } }
@media all and (max-width: 768px) {
  #logo {
    left: 60px; }

  .mobile-menu {
    z-index: 998;
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    /*		border: solid 1px transparentize($main-font-color, .5);
    */
    padding: 5px 6px 5px 4px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px; }
    .mobile-menu i {
      text-align: center; }

  #nav-bar {
    position: fixed;
    z-index: 998; }

  ul.nav {
    display: none; } }
@media all and (max-width: 1024px) {
  .html-mobile-background {
    background-image: url(images/forest-med.jpg); } }
@media all and (min-width: 769px) {
  .mobile-menu {
    display: none; } }
